$primaryColor_Lime: hsl(61, 70%, 52%);
$primaryColor_Red: hsl(4, 69%, 50%);

$neutralColor_White: hsl(0, 0%, 100%);
$neutralColor_Slate-100: hsl(202, 86%, 94%);
$neutralColor_Slate-300: hsl(203, 41%, 72%);
$neutralColor_Slate-500: hsl(200, 26%, 54%);
$neutralColor_Slate-700: hsl(200, 24%, 40%);
$neutralColor_Slate-900: hsl(202, 55%, 16%);
$neutralColor_Slate-1000: hsl(201, 55%, 12%);
