@use '../variables/variables.scss' as *;

body {
  background-color: $neutralColor_Slate-100;
  font-family: $PlusJakartaRegular;
}

input {
  outline: none;
}

// for media query
// .app {
//   max-width: 900px;
//   margin: 100px auto;
// }
