@use '../variables/variables.scss' as *;

.form-btn {
  padding: 0.75rem;
  border-radius: 30px;
  border: none;
  background-color: $primaryColor_Lime;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 500;
  color: $neutralColor_Slate-900;

  display: flex;
  justify-content: center;
  gap: 0.5rem;

  cursor: pointer;
}
