@use '../variables/variables.scss' as *;

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .radio-group-style {
    border: 1px solid $neutralColor_Slate-700;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    padding: 0.5rem;
    cursor: pointer;

    input[type='radio'] {
      margin-right: 0.5rem;
      &:checked {
        padding: 1rem;
        background-color: red;
        border-color: $primaryColor_Lime;
      }
    }

    span {
      pointer-events: none; // Prevent span from blocking the label click
    }
  }
}
