@use '../variables/variables.scss' as *;

.success-display {
  background-color: $neutralColor_Slate-900;
  padding: 2rem;
  color: $neutralColor_Slate-500;

  .success-display-group-title {
    font-family: $PlusJakartaBold;
    font-size: 1.75rem;
    color: $neutralColor_White;
  }

  .border-top {
    margin-top: 1rem;
    border-top: 5px solid $primaryColor_Lime;
    border-radius: 10px 10px 0 0;
  }
  .success-display-group-result {
    background-color: $neutralColor_Slate-1000;

    border-radius: 10px;
    padding: 1rem;

    .repayment-hero {
      font-family: $PlusJakartaBold;
      font-size: 2.5rem;
      color: $primaryColor_Lime;
    }

    .horizontal-line {
      border: 1px solid $neutralColor_Slate-300;
      margin: 0.5rem auto;
    }

    .total-hero {
      font-family: $PlusJakartaBold;
      font-size: 1.5rem;
      color: $neutralColor_White;
    }
  }
}
